 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{

    font-family: 'PT Serif', serif;
    font-size: 16px;
line-height: 1.5;
color: black;
background-color: #a1c3ff; 
}
img{
    max-width: 100%;
}
h1,h2{
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;

}
.navbar{
    background-color: #3474e6;
    color: white;
height: 60px;
}
.navbar a:hover{
    color: lightblue;
}
.navbar .logo{
font-size: x-large;
font-weight: bold;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul{
    display: flex;

}
.navbar ul li{
margin-left: 20px;

}

.header{
    background-color: blue;
color: white;
min-height: 400px;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
line-height: 1.2;
}
.header img{
    max-width: 400px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
   
}
.box{
    flex: 1;
    padding: 1%;
    background-color: #0a51cc;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}
.box i{
    margin-right: 10px;
}
@media (max-width: 768px) {
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;

    }
    .boxes .container{
        display: block;
        text-align: center;
    }
}
